imgs/calibration/calib_0.jpg
imgs/calibration/calib_1.jpg
imgs/calibration/calib_2.jpg
imgs/calibration/calib_3.jpg
imgs/calibration/calib_4.jpg
imgs/calibration/calib_5.jpg

CamSettings/dist.txt
CamSettings/matrix.txt

__pycache__/
.*

!/.gitignore

deepspeech-0.9.3-models.pbmm
deepspeech-0.9.3-models.scorer
